/* Header*/

html{
  font-family: Poppins;
}

.header{
  text-align: center;
  background-color: #010c3f;
  padding: .77rem 0;
  font-size: 1.88rem;
  color: white;
  width: 100%;
  float: top;
  margin: 0;
}

.highlight{
  color: #6c41ec;
}

.app{
  background-color: #6c41ec;
  padding: 0 17%;
}

.login-container{
  display: flex;
  justify-content: center;
}

#login{
  margin-top: 5%;
  cursor: pointer;
  width: 12rem;
  padding: .77rem;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  border: 0;
  color: white;
  font-weight: bold;
}

#login:hover{
  background-color: #0b2080;
}

.flexContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.searchResults{
  color: white;
  border: 2px solid black;
  height: 800px;
  width: 40%;
  background-color: #010c3f;
  overflow-y: scroll;
  scrollbar-color:  #6c41ec #010c3f;
  scrollbar-width: thin;
}


.playlist{
  background-color: #010c3f;
  border: 2px solid black;
  height: 800px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: #6c41ec #010c3f;
  scrollbar-width: thin;
}

.h2{
  font-size: 1.55rem;
}

